@import "normalize.styl"

.textoCentrado
	text-align center

figure
	margin 0

figure
	img
		width 100%

.lugares
	display flex
	.dropzone
		border 1px dashed gray
		border-radius 10px
		height 200px
		width 100%
		margin 0
		display flex
	.artefacto
		width 20%
	article
		width 50%
		margin 10px
		figure
			margin-bottom 50px
			width 300px
			margin 0 auto

.artefactos
	display flex
	justify-content space-between
	.artefacto
		width 20%
		border 1px solid gray
		margin 10px

.draggable
	cursor pointer
