@import url(https://fonts.googleapis.com/css?family=Lato);
@import "normalize.styl"

html
	font-size 16px

body
	font-family 'Lato'

figure
	margin 0

figure
	img
		width 100%

.textoCentrado
	text-align center

.centrar
	display flex
	justify-content center
	align-items center
	flex-wrap wrap

.marginTop
	margin-top 10px

.descargaEnZona
	background-color #DBDBDB
	border 3px dashed gray !important
	&:after
		content "Descarga el artefacto aqui."
		position absolute
		bottom 0

.pasaste
	background-color green
.perdiste
	background-color red

.mensaje
	text-align center
	padding 10px 0
	margin 0 auto
	width 200px
	border-radius 20px
	margin-top 10px

.lugares
	display flex
	.dropzone
		border 1px dashed gray
		border-radius 10px
		height 200px
		width 100%
		margin 0
		display flex
		figure
			width 100%
	.artefacto
		width 20%
	article
		width 50%
		margin 10px
		figure
			margin-bottom 50px
			width 300px
			margin 0 auto

.artefactos
	display flex
	justify-content space-between
	border 1px solid gray
	padding 10px
	.artefacto
		border-right 1px dashed gray
		width 20%
		padding 10px
		&:last-child
			border-right none
		&:hover
			transition 2s background-color
			background-color #BFBFBF

.draggable
	cursor pointer

.eliminarArtefacto
	animation 2s eliminar 1 linear

@keyframes eliminar
	0%
		transform scale(1,1)
	50%
		transform scale(.5,.5)
	100%
		transform scale(0,0)

.btn
	border none
	font-size 1.3rem
	border-radius 5px
	padding 10px
	color white
	font-weight bold
	&Acept
		background-color #77A12E
		box-shadow inset -3px -3px #577F12
		&:hover
			transition 2s background-color, 2s box-shadow
			box-shadow inset -3px -3px #77A12E
			background-color #577F12
		&:disabled
			background-color #A6A6A6
			box-shadow inset -3px -3px #FFFFFF
	&inline
		width 20%
		margin 0 30%
		margin-top 10px


